<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container-fluid" th:fragment="menu_lateral">
    	<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-list">
            <li class="nav-header">Autores</li>
            <li><a href="/admin/autor/nuevo">Crear autor</a></li>
            <li><a href="/admin/autor/listado">Listar autores</a></li>
          </ul>
          
          <ul class="nav nav-list">
            <li class="nav-header">Libros</li>
            <li><a href="/admin/libro/nuevo">Crear libro</a></li>
            <li><a href="/admin/libro/listado">Listar libros</a></li>
          </ul>
        </div>    
    </div>
  </body>
</html>